@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
  font-family: 'Montserrat', sans-serif;
}
body{
    background-color:black ;
}

.card{
    background-image: url(./card.png);
    width: 1230px;
    padding: 163px 0 0 140px;
    height: 690px;
    margin: 0 auto;
}

.holid{
    color: #A0ABAA;

    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.holiday-y{
    color: #A0ABAA;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 301px;
    margin-left: 60px;
}

.logo{
   margin-left: 175px;
}